@charset "UTF-8";
body{
    font-family: 'Noto Sans JP', sans-serif;
}

.logo{
    width: 100%;
    height: 100px;
    position: relative;
}

.logo img{
    width: 100px;
    position: absolute;
}



footer{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    color: white;
    background-color: black;
}

.pcenter{
/*
    margin: 30px 30px 30px 300px;
*/
    position: relative;
}

.inner{
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
}

h1{
    font-size: 30px;
    text-align: center;
}

ul{
    display: flex;
    margin: 2px 2px 2px 420px;
}

li{
    text-align: center;
    float: left;
    padding: 10px;
    margin: 2px 20px 20px 0.1px;
    font-size: 13px
}


/*
td{
    padding: 10px;
}
*/

/*
.logo2{

    padding: 0px 0px 110px 130px;

    top: 0;
    left: 0;
}
*/

.flower{
    top: 0;
    left: 200px;

}

.flower2{
    border-radius: 50% 50% 50% 50%;
    filter: contrast(100%) sepia(100%);
    top: 0;
    left: 200px;

}

table{
    width: 800px;
    background-color: gray;
}



table span{
    font-size: 20px;
    color: aqua;
}


/* ナビをホバーすると下線 */ 
li:hover{
    border-bottom: solid;
    border-width: 1px;
}
