body{
    font-family: 'Noto Sans JP', sans-serif;
}

footer{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    color: white;
    background-color: black;
}

.logo{
    padding: 0px 0px 0px 130px;
}
