@charset "UTF-8";
body{
    font-family: 'Noto Sans JP', sans-serif;
}


*{
    box-sizing: border-box;
}



.logo{
    width: 100%;
    height: 100px;
    position: relative;
}

.logo img{
    width: 100px;
    position: absolute;
    top: 10px;
}

#paragrapharea2{
    margin: 20px 0px 50px 0px ;
}

footer{
    width: 100%;
    text-align: center;
    padding: 20px 20px;
    color: white;
    background-color: black;
}


.pcenter{
/*
    margin: 30px 30px 30px 300px;
*/
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.pcenter{
        position: relative;
        left: 100px;
    }
*/


/*
.pcenter2{
    position: relative;
    left: 400px;
    padding: 0 0 20px;
    background-color: rebeccapurple;
}
*/

.pcenter2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

/*
.pcenter3{
    
    padding: 0 300px;
    background-color: rebeccapurple;
    

}
*/


.inner{
    top: 0;
    bottom: 0;
    left: 200px;
    right: 220px;
}

#top-baner{
    padding:  0 0 20px;
}

h1{
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 20px;
}

ul{
    display: flex;
    margin: 2px 2px 2px 720px;
}

li{
    text-align: center;
    float: left;
    padding: 10px;
    margin: 2px 20px 20px 0.1px;
    font-size: 16px
}

.btn-trans{
    background-color: black;
    color: white;
    width: 60px;
    height: 30px;
    text-align: center;
    margin-left: 210px;
    margin-bottom: 100px;
}


/*
td{
    padding: 10px;
}
*/

/*
.logo2{

    padding: 0px 0px 110px 130px;

    top: 0;
    left: 0;
}
*/

.flower{
    top: 0;
    left: 200px;

}

.flower2{
    border-radius: 50% 50% 50% 50%;

    
    filter: contrast(10%) sepia(60%) grayscale(100%) hue-rotate(270deg);

    top: 0;
    left: 200px;
}

table{
    width: 900px;
    background-color: whitesmoke;
    margin-bottom: 100px;

}


td, th{
    padding: 10px 0 10px 5px;
}

table span{
    font-size: 20px;
    color: orange;
}


/* ナビをホバーすると下線 */ 
li:hover{
    border-bottom: solid;
    border-width: 1px;
}

.hoge{
    background-color: whitesmoke;
    margin: 0 0 15px;
}

.hoge2{
    background-color: whitesmoke;
    margin: 0 0 15px;
}